body {
  background: linear-gradient(135deg, #e9e50e, #b0ad00);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
}

.container {
  text-align: center;
  background: rgba(245, 209, 9, 0.966);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(245, 8, 8, 0.959);
}

input {
  padding: 10px;
  width: 150px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

button {
  background-color: #0400ff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #ff1e00;
}
